// 
// common
// 

.inside-left-sidebar {
    .left-part {
        width: 240px;
    }
}
.dialog_form{
    .v-label.v-field-label{
        color: rgb(var(--v-theme-textPrimary));
    }
}

@media screen and (max-width:767px){
    .blog-detail{
        .text-h1{
            font-size: 20px !important;
            line-height: inherit;
        }
        .text-3xl,.text-h4{
            font-size: 18px !important;
        }
        .text-2xl{
            font-size: 16px !important;
        }
    }
}