.v-theme--DARK_BLUE_THEME{
    --color-primary: #0085db;
    --color-secondary: #707a82;
    --color-info:#5AC8FA;
    --color-success:#09C97F;
    --color-warning:#F8B15D;
    --color-error:#FB977D;
    --color-indigo:#8763DA;
    --color-lightprimary:#1b394f;
    --color-lightsecondary:#2f3f4c;
    --color-lightsuccess:#102d35;
    --color-lighterror:#72483d;
    --color-lightinfo:#1a3247;
    --color-lightwarning:#282b32;
    --color-lightindigo:#1d233e;
    --color-textPrimary:#EAEFF4;
    --color-textSecondary:#fff;
    --color-borderColor:#182D41;
    --color-inputBorder:#465670;
    --color-containerBg:#111C2D;
    --color-background: #16293e;
    --color-hoverColor: #333f55;
    --color-surface:#111C2D;
    --color-grey100:#7C8FAC;
    --color-grey200:#EAEFF4;
    --color-darkbg:'#111936';
    --color-bglight:'#16293e';
    --color-bgdark:'#16293e';
}
.v-theme--DARK_AQUA_THEME {
    --color-primary: #0074BA;
    --color-secondary: #47D7BC;
    --color-info:#5AC8FA;
    --color-success:#09C97F;
    --color-warning:#F8B15D;
    --color-error:#FB977D;
    --color-indigo:#8763DA;
    --color-lightprimary:#1b394f;
    --color-lightsecondary:#2f3f4c;
    --color-lightsuccess:#102d35;
    --color-lighterror:#72483d;
    --color-lightinfo:#1a3247;
    --color-lightwarning:#282b32;
    --color-lightindigo:#1d233e;
    --color-textPrimary:#EAEFF4;
    --color-textSecondary:#fff;
    --color-borderColor:#182D41;
    --color-inputBorder:#465670;
    --color-containerBg:#111C2D;
    --color-background: #16293e;
    --color-hoverColor: #333f55;
    --color-surface:#111C2D;
    --color-grey100:#7C8FAC;
    --color-grey200:#EAEFF4;
    --color-darkbg:'#111936';
    --color-bglight:'#16293e';
    --color-bgdark:'#16293e';
}
.v-theme--DARK_PURPLE_THEME {
    --color-primary: #763EBD;
    --color-secondary: #95CFD5;
    --color-info:#5AC8FA;
    --color-success:#09C97F;
    --color-warning:#F8B15D;
    --color-error:#FB977D;
    --color-indigo:#8763DA;
    --color-lightprimary:#1b394f;
    --color-lightsecondary:#2f3f4c;
    --color-lightsuccess:#102d35;
    --color-lighterror:#72483d;
    --color-lightinfo:#1a3247;
    --color-lightwarning:#282b32;
    --color-lightindigo:#1d233e;
    --color-textPrimary:#EAEFF4;
    --color-textSecondary:#fff;
    --color-borderColor:#182D41;
    --color-inputBorder:#465670;
    --color-containerBg:#111C2D;
    --color-background: #16293e;
    --color-hoverColor: #333f55;
    --color-surface:#111C2D;
    --color-grey100:#7C8FAC;
    --color-grey200:#EAEFF4;
    --color-darkbg:'#111936';
    --color-bglight:'#16293e';
    --color-bgdark:'#16293e';
}
.v-theme--DARK_GREEN_THEME {
    --color-primary: #0A7EA4;
    --color-secondary: #CCDA4E;
    --color-info:#5AC8FA;
    --color-success:#09C97F;
    --color-warning:#F8B15D;
    --color-error:#FB977D;
    --color-indigo:#8763DA;
    --color-lightprimary:#1b394f;
    --color-lightsecondary:#2f3f4c;
    --color-lightsuccess:#102d35;
    --color-lighterror:#72483d;
    --color-lightinfo:#1a3247;
    --color-lightwarning:#282b32;
    --color-lightindigo:#1d233e;
    --color-textPrimary:#EAEFF4;
    --color-textSecondary:#fff;
    --color-borderColor:#182D41;
    --color-inputBorder:#465670;
    --color-containerBg:#111C2D;
    --color-background: #16293e;
    --color-hoverColor: #333f55;
    --color-surface:#111C2D;
    --color-grey100:#7C8FAC;
    --color-grey200:#EAEFF4;
    --color-darkbg:'#111936';
    --color-bglight:'#16293e';
    --color-bgdark:'#16293e';
}
.v-theme--DARK_CYAN_THEME {
    --color-primary: #01C0C8;
    --color-secondary: #FB9678;
    --color-info:#5AC8FA;
    --color-success:#09C97F;
    --color-warning:#F8B15D;
    --color-error:#FB977D;
    --color-indigo:#8763DA;
    --color-lightprimary:#1b394f;
    --color-lightsecondary:#2f3f4c;
    --color-lightsuccess:#102d35;
    --color-lighterror:#72483d;
    --color-lightinfo:#1a3247;
    --color-lightwarning:#282b32;
    --color-lightindigo:#1d233e;
    --color-textPrimary:#EAEFF4;
    --color-textSecondary:#fff;
    --color-borderColor:#182D41;
    --color-inputBorder:#465670;
    --color-containerBg:#111C2D;
    --color-background: #16293e;
    --color-hoverColor: #333f55;
    --color-surface:#111C2D;
    --color-grey100:#7C8FAC;
    --color-grey200:#EAEFF4;
    --color-darkbg:'#111936';
    --color-bglight:'#16293e';
    --color-bgdark:'#16293e';
}
.v-theme--DARK_ORANGE_THEME{
    --color-primary: #FA896B;
    --color-secondary: #0074BA;
    --color-info:#5AC8FA;
    --color-success:#09C97F;
    --color-warning:#F8B15D;
    --color-error:#FB977D;
    --color-indigo:#8763DA;
    --color-lightprimary:#1b394f;
    --color-lightsecondary:#2f3f4c;
    --color-lightsuccess:#102d35;
    --color-lighterror:#72483d;
    --color-lightinfo:#1a3247;
    --color-lightwarning:#282b32;
    --color-lightindigo:#1d233e;
    --color-textPrimary:#EAEFF4;
    --color-textSecondary:#fff;
    --color-borderColor:#182D41;
    --color-inputBorder:#465670;
    --color-containerBg:#111C2D;
    --color-background: #16293e;
    --color-hoverColor: #333f55;
    --color-surface:#111C2D;
    --color-grey100:#7C8FAC;
    --color-grey200:#EAEFF4;
    --color-darkbg:'#111936';
    --color-bglight:'#16293e';
    --color-bgdark:'#16293e';
}