.v-theme--BLUE_THEME{
    --color-primary: #0085db;
    --color-secondary: #707a82;
    --color-info:#46caeb;
    --color-success:#4bd08b;
    --color-warning:#f8c076;
    --color-error:#fb977d;
    --color-indigo:#8763da;
    --color-lightprimary:#e5f3fb;
    --color-lightsecondary:#e7ecf0;
    --color-lightsuccess:#dffff3;
    --color-lighterror:#ffede9;
    --color-lightinfo:#e1f5fa;
    --color-lightwarning:#fff6ea;
    --color-lightindigo:#f1ebff;
    --color-textPrimary:#2A3547;
    --color-textSecondary:#2A3547;
    --color-borderColor:#e5eaef;
    --color-inputBorder:#DFE5EF;
    --color-containerBg:#ffffff;
    --color-background: #f0f5f9;
    --color-hoverColor: #f6f9fc;
    --color-surface:#ffffff;
    --color-grey100:#707a82;
    --color-grey200:#111c2d;
    --color-darkbg:'#2a3447';
    --color-bglight:'#f5f8fb';
    --color-bgdark:'#111c2d';
}
.v-theme--AQUA_THEME {
    --color-primary: #0074BA;
    --color-secondary: #47D7BC;
    --color-info:#46caeb;
    --color-success:#4bd08b;
    --color-warning:#f8c076;
    --color-error:#fb977d;
    --color-indigo:#8763da;
    --color-lightprimary:#e5f3fb;
    --color-lightsecondary:#e7ecf0;
    --color-lightsuccess:#dffff3;
    --color-lighterror:#ffede9;
    --color-lightinfo:#e1f5fa;
    --color-lightwarning:#fff6ea;
    --color-lightindigo:#f1ebff;
    --color-textPrimary:#2A3547;
    --color-textSecondary:#2A3547;
    --color-borderColor:#e5eaef;
    --color-inputBorder:#DFE5EF;
    --color-containerBg:#ffffff;
    --color-background: #f0f5f9;
    --color-hoverColor: #f6f9fc;
    --color-surface:#ffffff;
    --color-grey100:#707a82;
    --color-grey200:#111c2d;
    --color-darkbg:'#2a3447';
    --color-bglight:'#f5f8fb';
    --color-bgdark:'#111c2d';
}
.v-theme--PURPLE_THEME {
    --color-primary: #763EBD;
    --color-secondary: #95CFD5;
    --color-info:#46caeb;
    --color-success:#4bd08b;
    --color-warning:#f8c076;
    --color-error:#fb977d;
    --color-indigo:#8763da;
    --color-lightprimary:#e5f3fb;
    --color-lightsecondary:#e7ecf0;
    --color-lightsuccess:#dffff3;
    --color-lighterror:#ffede9;
    --color-lightinfo:#e1f5fa;
    --color-lightwarning:#fff6ea;
    --color-lightindigo:#f1ebff;
    --color-textPrimary:#2A3547;
    --color-textSecondary:#2A3547;
    --color-borderColor:#e5eaef;
    --color-inputBorder:#DFE5EF;
    --color-containerBg:#ffffff;
    --color-background: #f0f5f9;
    --color-hoverColor: #f6f9fc;
    --color-surface:#ffffff;
    --color-grey100:#707a82;
    --color-grey200:#111c2d;
    --color-darkbg:'#2a3447';
    --color-bglight:'#f5f8fb';
    --color-bgdark:'#111c2d';
}
.v-theme--GREEN_THEME {
    --color-primary: #0A7EA4;
    --color-secondary: #CCDA4E;
    --color-info:#46caeb;
    --color-success:#4bd08b;
    --color-warning:#f8c076;
    --color-error:#fb977d;
    --color-indigo:#8763da;
    --color-lightprimary:#e5f3fb;
    --color-lightsecondary:#e7ecf0;
    --color-lightsuccess:#dffff3;
    --color-lighterror:#ffede9;
    --color-lightinfo:#e1f5fa;
    --color-lightwarning:#fff6ea;
    --color-lightindigo:#f1ebff;
    --color-textPrimary:#2A3547;
    --color-textSecondary:#2A3547;
    --color-borderColor:#e5eaef;
    --color-inputBorder:#DFE5EF;
    --color-containerBg:#ffffff;
    --color-background: #f0f5f9;
    --color-hoverColor: #f6f9fc;
    --color-surface:#ffffff;
    --color-grey100:#707a82;
    --color-grey200:#111c2d;
    --color-darkbg:'#2a3447';
    --color-bglight:'#f5f8fb';
    --color-bgdark:'#111c2d';
}
.v-theme--CYAN_THEME {
    --color-primary: #01C0C8;
    --color-secondary: #FB9678;
    --color-info:#46caeb;
    --color-success:#4bd08b;
    --color-warning:#f8c076;
    --color-error:#fb977d;
    --color-indigo:#8763da;
    --color-lightprimary:#e5f3fb;
    --color-lightsecondary:#e7ecf0;
    --color-lightsuccess:#dffff3;
    --color-lighterror:#ffede9;
    --color-lightinfo:#e1f5fa;
    --color-lightwarning:#fff6ea;
    --color-lightindigo:#f1ebff;
    --color-textPrimary:#2A3547;
    --color-textSecondary:#2A3547;
    --color-borderColor:#e5eaef;
    --color-inputBorder:#DFE5EF;
    --color-containerBg:#ffffff;
    --color-background: #f0f5f9;
    --color-hoverColor: #f6f9fc;
    --color-surface:#ffffff;
    --color-grey100:#707a82;
    --color-grey200:#111c2d;
    --color-darkbg:'#2a3447';
    --color-bglight:'#f5f8fb';
    --color-bgdark:'#111c2d';
}
.v-theme--ORANGE_THEME{
    --color-primary: #FA896B;
    --color-secondary: #0074BA;
    --color-info:#46caeb;
    --color-success:#4bd08b;
    --color-warning:#f8c076;
    --color-error:#fb977d;
    --color-indigo:#8763da;
    --color-lightprimary:#e5f3fb;
    --color-lightsecondary:#e7ecf0;
    --color-lightsuccess:#dffff3;
    --color-lighterror:#ffede9;
    --color-lightinfo:#e1f5fa;
    --color-lightwarning:#fff6ea;
    --color-lightindigo:#f1ebff;
    --color-textPrimary:#2A3547;
    --color-textSecondary:#2A3547;
    --color-borderColor:#e5eaef;
    --color-inputBorder:#DFE5EF;
    --color-containerBg:#ffffff;
    --color-background: #f0f5f9;
    --color-hoverColor: #f6f9fc;
    --color-surface:#ffffff;
    --color-grey100:#707a82;
    --color-grey200:#111c2d;
    --color-darkbg:'#2a3447';
    --color-bglight:'#f5f8fb';
    --color-bgdark:'#111c2d';
}