button{
    font-size: 16px;
    font-weight: 500;
    padding: 10px 30px;
    text-transform: capitalize;
    font-weight: 500;
    &.btn-outline{
        transition: 0.5s;
        border: 1px solid var(--color-primary);
        color:var(--color-primary);
        &:hover{
            background-color: var(--color-primary);
            color:#fff;
        }
    }
}

