//Card style declaration
.card {
    background-color: var(--color-surface);
    border-radius: theme('borderRadius.large');
    box-shadow: theme('boxShadow.DEFAULT');
    width: theme('width.full');
    // overflow: hidden;
  }
  .card-body{
    padding: 30px;
  }

  .card-no-bg {
      border-radius: theme('borderRadius.large');
      box-shadow: theme('boxShadow.DEFAULT');
      width: theme('width.full');
      overflow: hidden;
  }

.cardBordered {
    .card {
        box-shadow: none !important;
        border: 1px solid var(--color-borderColor);
    }
}